body {
  background-image: url("./imgs/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.whiteLine {
  color: #fff;
  height: 13x;
}

.sidebar {
  height: 100%;
  width: 150px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
}

.sidebar div {
  padding: 8px;
  font-size: 24px;
  display: block;
}

.sidebar a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 15px;
}

.infoBox {
  width: 1200px;
  border: 2px solid #fff;
  height: 200px;
  margin-top: 130px;
  margin-left: 200px;
  border-radius: 12px;
  background-color: #fff;
  color: #0F1035;
}

.infoHeader {
  color: #0F1035;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:25px;
  margin-left: 10px;
}

.infoText {
  color: #0F1035;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:15px;
  margin-left: 15px;
  margin-bottom: 20px;
  
}

.linkBox {
  width: 800px;
  height: 350px;
  border: 2px solid #fff;
  margin-top: 100px;
  margin-left: 200px;
  border-radius: 12px;
  background-color: #fff;
  
}

.linkBoxText {
  color: #0F1035;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  margin-left: 10px;
}

.linkBoxText a {
  color: #0F1035;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  padding-right: 10px;
  font-size: 20px;
}

/*
  the following css is made for the 
  projects.html page.
*/

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  margin-left: 250px;
  margin-top: auto;
}

.grid-item {
  background-color: #fff;
  border: 1px solid #0F1035;
  font-size: 30px;
  text-align: center;
  width: 300px;
  margin: 10px;
  padding: 20px;
  border-radius: 12px;
}

.grid-item a {
  text-decoration: none;
  color: #0F1035;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
